/** @format */

#contact .card:hover i,
#contact .card:hover h4 {
  color: #87d37c;
}

.contact-title h1 {
  color: #535353;
  font-size: 45px;
  font-weight: 600;
}
.contact-title span {
  color: #c44638;
  font-size: 45px;
  font-weight: 700;
}
