/** @format */
.main-wraper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.footer-section {
  position: relative;
  margin-top: auto;
  padding-top: 100px;
}
